* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
    
}

header ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  background: #aeaeae;
}

header a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.transportes{
justify-content: center;
font-family: Arial, Helvetica, sans-serif;

}